* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0px;
    color: white;
    font-size: 50pt;
}
#video {
    min-width: 100%;
    min-height: 120vh;
    object-fit: cover;
    overflow: hidden;
}

.notes {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.drum{
    background-color: blue;
}